{% extends 'base.html.twig' %}

{% block title %}Solicitud de Turnos Poder Judicial{% endblock %}

{% block body %}
<br>
<div class="jumbotron mt-1 rounded-lg border border-secondary">
    <div class="row">
        <div class="col-2">
            <img src="{{asset('images/escudo.gif')}}" class="rounded float-left" alt="Poder Judicial" height="160">
        </div>
        <div class="col">
            <h1 class="display-4">Sitio en Construcción</h1>
            <p class="lead">Servicio previsto por .....</p>
            <hr class="my-4">
            <p>En el marco de .....</p>            
            <a class="btn btn-primary btn-lg" href="{{ path('turno_new2') }}" role="button">Proceder</a>
        </div>
    </div>
</div>

{% endblock %}