{% extends 'base.html.twig' %}

{% block title %}Solicitud de Turnos Poder Judicial{% endblock %}

{% block body %}
<br>
<div class="jumbotron mt-1 rounded-lg border border-secondary">
    <div class="row">
        <div class="col-2">
            <img src="{{asset('images/escudo.gif')}}" class="rounded float-left" alt="Poder Judicial" height="160">
        </div>
        <div class="col">
            <h1 class="display-4">Solicitud de Turnos</h1>
            <p class="lead text-center">PODER JUDICIAL DE LA PROVINCIA DE SANTA FE</p>
            <hr class="my-4">
            <p>En el marco de las medidas adoptadas por la Corte Suprema de Justicia frente a la pandemia Coronavirus - Covid-19, se pone a disposición un sistema de TURNOS para realizar trámites de carácter presencial ante: </p>            
            <ul>
                <li><strong>Oficina de Certificaciones (Tribunales de Santa Fe) - Certificaci&oacute;n de Poderes</strong></li>
                <li><strong>Oficina de Certificaciones (Tribunales de Rosario)   - Certificaci&oacute;n de Poderes</strong></li>
            </ul>
            <br><br>
            <div class="text-right">
                <a class="btn btn-primary btn-lg float-center" href="{{ path('turno_new2') }}" role="button">Solicitar Turno</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}