{% extends 'base.html.twig' %}

{% block title %}Edit Organismo{% endblock %}

{% block body %}
    <h1>Edit Organismo</h1>

    {{ include('organismo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('organismo_index') }}">back to list</a>

    {{ include('organismo/_delete_form.html.twig') }}
{% endblock %}
