{% extends 'base.html.twig' %}

{% block title %}Editar Valor de Configuración{% endblock %}

{% block body %}
    <h1>Edición de Configuración</h1>
    {{ include('config/_form.html.twig') }}
    {{ include('config/_delete_form.html.twig') }}
{% endblock %}
