{% extends 'base.html.twig' %}

{% block title %}Nuevo valor de Configuración{% endblock %}

{% block body %}
    <h1>Crear nuevo Valor de Configuración</h1>
    {{ include('config/_form.html.twig') }}
{% endblock %}
