// customize some Bootstrap variables
$blue: darken(#295f2F, 5%);

// the ~ allows you to reference things in node_modules
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

//@import '~@fortawesome/fontawesome-free/scss/fontawesome';
//@import '~@fortawesome/fontawesome-free/scss/regular';
//@import '~@fortawesome/fontawesome-free/scss/solid';

//@import '~@fortawesome/fontawesome-free/scss/brands';


body {
    font-family: Helvetica Neue,sans-serif;
}

h1 {
    margin-top: .5rem;
    font-size: 1.8rem;
    text-align: center;
}

h2 {
    font-size: 1.2rem;
    color: #295f2F;
    font-weight: lighter;
    text-align: center;
    border-bottom: 1.5px solid #295f2F;
}

h6 {
    font-size: .75rem;
    color: #295f2F;
    font-weight: bold;
}

label {
    font-weight: normal;
    color: #295f2F;
    font-size: .9rem;
    margin-bottom: 0;
    margin-left: .2rem;
}

// Datepicker
.datepicker {
    font-family: Helvetica Neue,sans-serif !important;
    font-weight: lighter;
}


// .datepicker table tr td.highlighted {
//     background: inherit;
// 	color: #F00;
// 	border-radius: 0;
// }


 .datepicker table tr td {
     color: #295f2F;
     font-weight: normal;
}

// 	width: 20px;
// 	height: 20px;
// 	-webkit-border-radius: 4px;
// 	-moz-border-radius: 4px;
// 	border-radius: 4px;
// 	border: none;
// }

// .datepicker table tr td.active.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active:active, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active[disabled] {
// 	background-color: #295f2F;
//     color: #FFF;
//     font-weight: bolder;
// }

// .datepicker table tr td.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover {
// 	background-color: #006dcc;
// 	background-image: -moz-linear-gradient(to bottom,#3a5f29,#295f2F);
// 	background-image: -ms-linear-gradient(to bottom,#3a5f29,#295f2F);
// 	background-image: -webkit-gradient(linear,0 0,0 100%,from(#3a5f29),to(#295f2F));
// 	background-image: -webkit-linear-gradient(to bottom,#3a5f29,#295f2F);
// 	background-image: -o-linear-gradient(to bottom,#3a5f29,#295f2F);
// 	background-image: linear-gradient(to bottom,#3a5f29,#295f2F);
// 	background-repeat: repeat-x;
// 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a5f29', endColorstr='#0044cc', GradientType=0);
// 	border-color: #295f2F #295f2F #002a80;
// 	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
// 	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
// 	color: #fff;
// 	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
// }

// Centrado de formulario de login
.login {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.login button {
    margin-top:5px;
}

// Botones en general
.volver {
    margin-right: 5px;
}

// Form de Selección de Fecha y Hora
.selectorFechaHora {
    margin-bottom: 10px;
}

.datepicker.datepicker-inline {
    margin-right: auto;
    margin-left: auto;
}