<form method="post" action="{{ path('turno_delete', {'id': turno.id}) }}" onsubmit="return confirm('¿Esta usted seguro que desea borrar este turno?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ turno.id) }}">
    <!-- Se agregan estilos a los botones para que queden alineados -->
    <button class="btn btn-outline-secondary float-left shadow">Borrar</button>
</form>
