{% extends 'base.html.twig' %}

{% block title %}Nuevo Turno{% endblock %}

{% block body %}
    <div class="row mt-3 mb-5">
        <div class="col-3"><img src="{{asset('images/logo.png')}}" class="rounded float-left" alt="Poder Judicial" height="85"></div>
        <div class="col-6">
            <h1>Solicitud de Turnos</h1>
            <h2>Selección de Organismo</h2>
        </div>
        <div class="col-3"></div>
    </div>
    <h6 class="float-right">Paso 2/4</h6>

    {{ include('turno/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            var textoListaLocalidadVacia = '<option value="" disabled selected>Seleccione una Localidad</option>';
            var textoListaOficinaVacia = '<option value="" disabled selected>Seleccione una Oficina</option>';

            $('#turno3_localidad').change(function() {
                var localidad_id = $(this).val();
                if (localidad_id != '') {
                    $.ajax({
                        url:"/TurnosWeb/oficina_localidad/" + localidad_id,
                        method: "POST",
                        dataType: "json",
                        success: function(data) {
                            if (Array.isArray(data) && data.length) {
                                $('#turno3_oficina').html('');
                                $('#turno3_oficina').append(textoListaOficinaVacia);
                                $.each(data,function(key, registro) {
                                    $("#turno3_oficina").append('<option value='+registro.id+'>'+registro.oficina+'</option>');
                                });   
                            } else {
                                $('#turno3_oficina').html('<option value="" disabled selected>Ninguna Oficina Actualmente Disponible</option>');
                            }
                        }
                    })
                } else {
                    $('#turno3_oficina').html('');
                }
            });
            
            $('#turno3_oficina').html(textoListaOficinaVacia);

        });
    </script>  

{% endblock %}     
