{% extends 'base.html.twig' %}

{% block title %}Oficinas Habilitadas / Deshabilitadas{% endblock %}

{% block body %}
    <h1>Informe Oficinas Habilitadas / Deshabilitadas</h1>
    <br>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center form-group">
            <form method="post" action="{{ path('informe_show_oficinas_estado_habilitacion') }}">
                <div id="fechaHora" class="selectorFechaHora text-center" name="selectorFechaHora">
                    <label for="cboCircunscripcion" id="lblCircunscripcion">Seleccione una Circunscripción</label>
                    <select class="form-control" id="cboCircunscripcion" name="circunscripcion">
                        {# Dependiendo si el usuario logueado tiene seteada la circunscripción o no decido que mostrar en este combo #}
                        {% if app.user.getCircunscripcion() %}
                            {% if app.user.getCircunscripcion().getId() == 1 %}
                                <option value="0" selected>TODAS</option>
                                <option value="1">1. Santa Fe</option>
                                <option value="4">4. Reconquista</option>
                                <option value="5">5. Rafaela</option>
                            {% else %}
                                <option value="0" selected>TODAS</option>
                                <option value="2">2. Rosario</option>
                                <option value="3">3. Venado Tuerto</option>
                            {% endif %}
                        {% else %}
                            <option value="0" selected>TODAS</option>
                            <option value="1">1. Santa Fe</option>
                            <option value="2">2. Rosario</option>
                            <option value="3">3. Venado Tuerto</option>
                            <option value="4">4. Reconquista</option>
                            <option value="5">5. Rafaela</option>
                        {% endif %}
                        
                    </select>
                    <br>
                    <div id="opciones">  
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="vistaGral" value="general" name="general" checked>
                            <label class="form-check-label" for="vistaGral">Vista General</label>
                        </div>                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="vistaHabilitadas" value="detallado" name="verHabilitadas" checked>
                            <label class="form-check-label" for="vistaHabilitadas">Detalle de Oficinas Habilitadas</label>
                        </div> 
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="vistaDeshabilitadas" value="detallado" name="verDeshabilitadas" checked>
                            <label class="form-check-label" for="vistaDeshabilitadas">Detalle de Oficinas Deshabilitadas</label>
                        </div> 
                    </div> 
                    <br>
                    {% if SistemaTurnosWeb %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="chkOficinasFD" value="1" name="chkOficinasFD" checked>
                            <label class="form-check-label" for="chkOficinasFD">Excluir Oficinas <i>"Firma Digital con Token - Obtención del Certificado"</i></label>
                        </div>
                    {% endif %}
                </div>
                <br><br>
                <center><button class="btn btn-primary shadow">{{ button_label|default('Generar Informe') }}</button></center>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){            
            $('#cboCircunscripcion').focus();
        }); 
    </script>  
    
{% endblock %}     
