<form method="post" action="{{ path('oficina_delete', {'id': oficina.id}) }}" onsubmit="return confirm('¿Está usted seguro que desea borrar esta oficina?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ oficina.id) }}">
    <!-- Se agregan estilos a los botones para que queden alineados -->
    <button class="btn btn-outline-secondary float-left shadow">Borrar</button>
</form>
