{% extends 'base.html.twig' %}

{% block title %}Turnos Rechazados{% endblock %}

{% block body %}
    <div class="row">
        <div class="col col-11 text-center">
            <h1>Turnos Rechazados</h1>
        </div>
        <div class="col col-1 text-right">
            <a href="{{path('turno_rechazado_index')}}" title="Actualizar Lista" class="d-print-none"><i class="fas fa-sync-alt"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a onclick="window.print()" title="Imprimir Lista" class="d-print-none"><i class="fas fa-print fa-lg"></i></a>
        </div>
    </div>
    <div class="row">
		<div class="col-12">
			<div id="rechazadosList">
				<div class="d-flex justify-content-center">
					<div class="spinner-border m-5" role="status">
						<span class="sr-only">Cargando...</span>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
		$(function () {
			var grillaRechazados = $('#rechazadosList').initDataTables( {{ datatable_settings(datatable) }}, {
				dom: "B<'row' <'#busqueda.col-sm-1 text-left'f><'col-sm-11 text-right'i><'col-sm-12' tr>><'row' <'col-sm-6'l><'col-sm-6 text-right'p>>",
                buttons: [],
                searching: true,
				language: {
					"url": "{{ asset('build/static/traslation_dt_es.json') }}"
				}
			}).then(function (dt) {
				dt.on('init', function(settings, json) {
					$('#dt_filter input').attr("placeholder", "Fechas, Apellido, Nombre, DNI, Motivos");
					$('#dt_filter input').width(300);                 
				});
			});
		});
	</script>
{% endblock %}