{% extends 'base.html.twig' %}

{% block title %}Gestión de Localidades{% endblock %}

{% block body %}
	<h1>Gestión de Localidades</h1>
	<div class="top-listas">
		{% if is_granted('ROLE_EDITOR') %}
			<div id="botonera-localidad" class="row" style="display: none;">
				<div class="col-12">
					<div class="float-right boton">
						<a class="btn btn-primary shadow" href="{{ path('localidad_new') }}">Crear Nueva Localidad</a>
					</div>
				</div>
			</div>
		{% endif %}		
	</div>
	<div class="row">
		<div class="col-12">
			<div id="localidadList">
				<div class="d-flex justify-content-center">
					<div class="spinner-border m-5" role="status">
						<span class="sr-only">Cargando...</span>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$(function () {
			var grillaLocalidades = $('#localidadList').initDataTables( {{ datatable_settings(datatable) }}, {
				dom: "B<'row' <'#busqueda.col-sm-4 text-left'f><'col-sm-8 text-right'i><'col-sm-12' tr>><'row' <'col-sm-6'l><'col-sm-6 text-right'p>>",
                buttons: [],
                searching: true,
				language: {
					"url": "{{ asset('build/static/traslation_dt_es.json') }}"
				}
			}).then(function (dt) {
				dt.on('init', function(settings, json) {
					$('#botonera-localidad').show();
					$('#dt_filter input').attr("placeholder", "Localidad, Circunscripcion");
					$('#dt_filter input').width(200); 
				});
			});
		});
	</script>

{% endblock %}
